<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Keegeegee - My Favorites</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/favorites.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Spectral:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/fav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <div class="container">
      <div class="header">
        <h1 class="page-title">My Favorites</h1>
        <form id="sortForm">
          <select name="sortby" onchange="document.getElementById('sortForm').submit();">
            <option value="default">Sort By</option>
            <option value="price_asc">Price: Low to High</option>
            <option value="price_desc">Price: High to Low</option>
            <option value="date_asc">Date: Old to New</option>
            <option value="date_desc">Date: New to Old</option>
            <option value="availability">Availability</option>
          </select>
        </form>
      </div>

      <div id="hidden-length" hidden="hidden" class="info">
        <%= favorites.length %>
      </div>
      <div id="favList">
        <% favorites.forEach(function(item) { %>
        <div id="hidden-userid" hidden="hidden" class="info">
          <%= item.user_id %>
        </div>
        <div class="card">
          <div class="card-image-container">
            <img src="<%= item.image_url %>" alt="Item image" class="card-image" />
          </div>
          <div class="card-info-container">
            <div class="card-info title-status">
              <h5>
                <%= item.title %> : $<%= item.price %>
              </h5>
              <% if(item.status) { %>
                <span class="status <%= item.status.toLowerCase() %>">
                  <%= item.status %>
                </span>
                <% } else { %>
                  <span class="status">No Status</span>
                  <% } %>
            </div>
            <div class="card-info description">
              <p>
                <%= item.description %>
              </p>
            </div>
            <div class="card-info date-icons">
              <span>
                <%= item.created_at.getFullYear() %>-<%= (item.created_at.getMonth() + 1) %>-<%= item.created_at.getDate() %> by <%= item.username %>
              </span>
              <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn" value="<%= item.id %>" id="msg_<%= item.id %>"
                  name="<%= item.username %>,<%= item.user_id %>,<%= item.id%>,<%= item.pid%>">
                  <i class="fa-solid fa-inbox card-icon"></i>
                </button>

                <button type="button" class="btn" value="<%= item.id %>" id="email_<%= item.id %>"
                  value="<%= item.email %>">
                  <i class="fa-regular fa-envelope card-icon"></i>
                </button>

                <button type="button" class="btn" value="<%= item.id %>" id="sms_<%= item.id %>"
                  name="<%= item.username %>,<%= item.user_id %>,<%= item.id%>,<%= item.pid%>,<%= item.phone_number %>">
                  <i class="fa-regular fa-comment-dots card-icon"></i>
                </button>

                <button class="delete-button" id="delete-btn" data-id="<%= item.id %>">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <div>
        <button id="load-more" class="btn-load-more">Load more</button>
      </div>
      <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="msgModalLabel">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="msgModalForm">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="msgModalSubmit">Send message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      // This script will submit the form when you change the selection.
      // Actual sorting logic will be handled server-side.
      document
        .getElementById("sortForm")
        .addEventListener("change", function () {
          this.submit();
        });

      const delBtns = document.querySelectorAll(".delete-button");
      // console.log(delBtns);
      delBtns.forEach((item) => {
        item.addEventListener("click", function () {
          const favId = item.getAttribute("data-id");
          $.ajax({
            url: `/api/fav/${favId}`,
            method: "DELETE",
            success: function (response) {
              if (response.success) {
                $(`button[data-id='${favId}']`).closest(".card").remove();
              }
            },
            error: function (error) {
              console.error("Error:", error);
            },
          });
        });
      });

      function doDelete(_id) {
        $.ajax({
          url: `/api/fav/${_id}`,
          method: "DELETE",
          success: function (response) {
            if (response.success) {
              $(`button[data-id='${_id}']`).closest(".card").remove();
            }
          },
          error: function (error) {
            console.error("Error:", error);
          },
        });
      }
    </script>
    <script>
      document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
          window.location.reload();
        });
      });
    </script>
    <script>
      document.getElementById('load-more').addEventListener('click', function () {
        // after load-more button click, trigger get("/fav/favorites")
        const increaseRowLength = 10;
        const userId = document.getElementById('hidden-userid').innerText
        const rowLimit = Number(document.getElementById('hidden-length').innerText) + increaseRowLength
        const _url = `/fav/favorites/${userId}/${rowLimit}`
        window.location.href = _url;
      });
    </script>




  </body>
</html>