<!DOCTYPE html>
<html lang="en">

<head>
  <title>Keegeegee - My Favorites</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/favorites.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <div class="container">
    <div class="header">
      <h1>My Favorites</h1>
      <form id="sortForm">
        <select name="sortby" onchange="document.getElementById('sortForm').submit();">
          <option value="default">Sort By</option>
          <option value="price_asc">Price: Low to High</option>
          <option value="price_desc">Price: High to Low</option>
          <option value="date_asc">Date: Old to New</option>
          <option value="date_desc">Date: New to Old</option>
          <option value="availability">Availability</option>
        </select>
      </form>
    </div>

    <% favorites.forEach(function(item) { %>
      <div class="card">
        <div class="card-image-container">
          <img src="<%= item.imageUrl %>" alt="Item image" class="card-image">
        </div>
        <div class="card-info-container">
          <div class="card-info title-status">
            <h5><%= item.title %> : $<%= item.price %></h5>
            <% if(item.status) { %>
              <span class="status <%= item.status.toLowerCase() %>"><%= item.status %></span>
            <% } else { %>
              <span class="status">No Status</span>
            <% } %>
          </div>
          <div class="card-info description">
            <p><%= item.description %></p>
          </div>
          <div class="card-info date-icons">
            <span><%= item.date.getFullYear() %>-<%= (item.date.getMonth() + 1) %>-<%= item.date.getDate() %> by <%= item.username %></span>
            <div class="icons">
              <!-- Add icon elements here -->
            </div>
            <button class="delete-button">Delete</button>
          </div>
        </div>
      </div>
    <% }); %>

    <button class="btn-load-more">Load more</button>
  </div>
  <script>
    // This script will submit the form when you change the selection.
    // Actual sorting logic will be handled server-side.
    document.getElementById('sortForm').addEventListener('change', function() {
      this.submit();
    });
  </script>

</body>

</html>
