<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Keegeegee - Buy/Sell</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/feeds.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Spectral:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
    <script defer src="/scripts/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
      integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

      <div class="container-fluid">

        <div class="search-bar">
          <form id="searchForm" action="/s/search" method="post">
            <div class="input-group mb-3" id="searchBox">
              <span class="input-group-text" id="inputGroup-sizing-default">Search by Price: </span>
              <span class="input-group-text" id="inputGroup-sizing-default">Min: $</span>
              <input id="minPrice" name="minPrice" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
              <span class="input-group-text" id="inputGroup-sizing-default">Max: $</span>
              <input id="maxPrice" name="maxPrice" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
              <button class="btn btn-outline-secondary" type="submit" id="searchBtn">Search</button>
            </div>
          </form>
        </div>
        <h1 id="feed-title">Welcome to KeeGeeGee</h1>

        <div id="feedsList" class="card-container">
          <% for (let i=0; i < feeds.length; i++) { %>
            <% if (i % 3===0) { %>
              <div class="row">
                <% } %>
                  <div class="col-md-4">
                    <div class="card mb-3" id="cardbox_<%= feeds[i].id %>">
                      <div class="card-body">
                        <div class="favourite-icon">
                          <button type="button" class="btn" value=" <%=feeds[i].id %>" id="fav_<%= feeds[i].id %>">
                            <i class="fa-solid fa-heart card-icon"></i>
                          </button>
                        </div>
                        <img src="<%= feeds[i].image_url %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= feeds[i].title %>
                          </h5>
                          <p class="card-text">
                            <%= feeds[i].description %>
                          </p>
                          <p class="card-text">
                            <%= feeds[i].username %>
                          </p>
                          <p class="card-text">
                            <%= feeds[i].email %>
                          </p>
                          <p class="card-text">
                            <%= feeds[i].created_at %>
                          </p>

                          <div class="icons-container" role="group" aria-label="Basic example">
                            <div class="card-icons-group">
                              <button type="button" class="btn" value=" <%=feeds[i].id %>" id="msg_<%= feeds[i].id %>"
                                name="<%= feeds[i].username %>,<%= feeds[i].user_id %>,<%= feeds[i].id%>,<%= feeds[i].pid%>">
                                <i class="fa-solid fa-inbox card-icon"></i>
                              </button>

                              <button type="button" class="btn" value=" <%=feeds[i].id %>" id="email_<%= feeds[i].id %>"
                                value="<%= feeds[i].email %>">
                                <i class="fa-regular fa-envelope card-icon"></i>
                              </button>

                              <button type="button" class="btn" value=" <%=feeds[i].id %>" id="sms_<%= feeds[i].id %>" name="<%= feeds[i].username %>,<%= feeds[i].user_id %>,<%= feeds[i].id%>,<%= feeds[i].pid%>,
                                          <%=feeds[i].phone_number%>">
                                <i class="fa-regular fa-comment-dots card-icon"></i>
                              </button>

                              <!-- <button type="button" value="<%= feeds[i].id %>" id="del_<%= feeds[i].id %>">
                                <i class="fa-solid fa-trash-can"></i>
                              </button> -->
                            </div>

                            <!-- <button type="button" value="<%= feeds[i].id %>" id="sold_<%= feeds[i].id %>">Mark as
                              sold</button> -->
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <% if ((i + 1) % 3===0 || (i + 1)===feeds.length) { %>
              </div>
              <% } %>
                <% } %>
        </div>



        <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="msgModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form id="msgModalForm">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="msgModalSubmit">Send message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<!--       <script>
        // JavaScript to set equal height for all cards
        document.addEventListener("DOMContentLoaded", function () {
          const cards = document.querySelectorAll('.card');
          const maxHeight = 0;

          cards.forEach(function (card) {
            const cardHeight = card.offsetHeight;
            if (cardHeight > maxHeight) {
              maxHeight = cardHeight;
            }
          });

          cards.forEach(function (card) {
            card.style.height = maxHeight + 'px';
          });
        });
      </script> -->

  </body>

</html>